@import 'cTimer';

.login {
    margin-bottom: 180px;
    .container {
        max-width: 1000px;
    }
}

.hiden{
    display: none;
}

.login__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;

    box-shadow: 0 0 10px rgb(98, 98, 98);
    border-radius: 25px;
}

.login__left {
    position: relative;
    width: 40%;
    height: 100%;
    min-height: inherit;
    
    border-radius: inherit;
    background-color: #3a83a7c1;
    padding: 60px;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__right {
    padding: 30px 60px;
    width: 60%;
    height: inherit;
    border-radius: inherit;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .logo{
        width: 80px;
        margin-bottom: 40px;
    }
    
    .title{
        font-size: 40px;
        margin-bottom: 20px;
        
        span{
            color: #FF6E30;
        }
    }

    .text{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.773);
    }
}

.right__inner {  
    width: 100%;
    height: 100%;

    form{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        width: 100%;
    }
}

.main_title {
    text-align: center;
    font-size: 25px;

    margin-bottom: 50px;
}

input{
    width: 100%;
    height: 50px;

    margin-top: 10px;
    font-size: 18px;
    padding: 0 20px;

    border-radius: 10px;
    border: 2px solid rgb(135, 135, 135);
    background: rgb(255, 255, 255);

    &::placeholder{
        opacity: .8;
    }

    &:focus{
        box-shadow: 0 0 5px #fff;
    }

    &.error{
        box-shadow: 0 0 15px red;
    }
}

.info_text{
    display: none;
}

.info_text.error{
    text-align: center;
    font-size: 20px;
    color: red;
    display: block;
}

.info_text.sucsess{
    text-align: center;
    font-size: 20px;
    color: green;
    display: block;
}

.btn--signup,
.btn--login{
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 100%;
    border-radius: 10px;
    
    padding: 5px 0;
    font-size: 25px;
    color: #fff;
    
    background-color: #FF6E30;
    
    &:hover{
        box-shadow: 0 0 4px #fff;
    }
    
    &:active{
        background-color: #df5f29;
    }
}


@import "media"