.footer{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    min-height: $footer_height;

    .title{
        color: rgba(255, 255, 255, 0.9);
        
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 20px;
    }

    .text{
        font-style: normal;
        font-size: 14px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.55);

        p {margin-bottom: 10px;}
    }
}

.footer_logo{
    display: flex;
    align-items: center;

    user-select: none;
    margin-bottom: 25px;
}


.first_footer{
    width: 100%;
    max-width: 260px;

    height: 185px;
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last_footer{
    min-height: 185px;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-around;
}