<<<<<<< HEAD
$header_background: inherit;

@import "dropdown";

.header{
    position: relative;
    padding: 25px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    margin: 0 auto;
    margin-bottom: 80px;

    background-color: $header_background;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header_logo{
    display: flex;
    align-items: center;
}

.logo_text{
    margin-left: 12px;

    user-select: none;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav_element{
        position: relative;
        background-color: inherit;

        user-select: none;
        cursor: pointer;
        
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.55);
        
        margin-right: 40px;
        border-radius: 8px;
    
        transition: all .2s ease;
        padding: 5px 15px;
        
        &:last-child{
            margin-right: 0;
        }
    
        &:hover{
            color: #fff;
            box-shadow: 0 0 0 1.5px #fff;
        }
    }
}

.burger{
    display: none;
    
    position: relative;
    width: 35px;
    height: 25px;
    
    align-items: center;
    
    &::before,
    &::after{
        content: '';
        position: absolute;

        width: 100%;
        height: 3px;    
        left: 0;

        background-color: #fff;
        border-radius: 3px;

        transition: all .2s ease;
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }

    &.active{
        .burger_element{
            opacity: 0;
            transform: translateX(100%);
        }

        &::before{
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
        }
        
        &::after{
            bottom: 50%;
            transform: rotate(-45deg) translateY(50%);
        }
    }

}

.burger_element{
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    border-radius: 3px;

    transition: all .2s ease;
}

.popup{
    position: absolute;
    
    top: 0;
    right: -100%;
    z-index: 100;

    opacity: 0;
    
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(0, 0, 0, 0.9);
    
    transition: all .5s ease;
    
    &.open{
        opacity: 1;
        right: 0;

        .header__nav{
            z-index: inherit;
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            padding-top: 100px;
    
            width: 100vw;
            height: 100vh;

            .nav_element{
                font-size: 25px;
                color: #fff;

                padding: 20px 40px;
            }

            .dropdown{
                .dropdown_inner{
                    left: 100%;
                    top: -90%;
                }
            }

            .arrow{
                &::before,
                &::after{
                    background-color: #fff;
                }
            }
        }
    }

=======
$header_background: inherit;

@import "dropdown";

.header{
    position: relative;
    padding: 25px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    margin: 0 auto;
    margin-bottom: 80px;

    background-color: $header_background;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header_logo{
    display: flex;
    align-items: center;
}

.logo_text{
    margin-left: 12px;

    user-select: none;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav_element{
        position: relative;
        background-color: inherit;

        user-select: none;
        cursor: pointer;
        
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.55);
        
        margin-right: 40px;
        border-radius: 8px;
    
        transition: all .2s ease;
        padding: 5px 15px;
        
        &:last-child{
            margin-right: 0;
        }
    
        &:hover{
            color: #fff;
            box-shadow: 0 0 0 1.5px #fff;
        }
    }
}

.burger{
    display: none;
    
    position: relative;
    width: 35px;
    height: 25px;
    
    align-items: center;
    
    &::before,
    &::after{
        content: '';
        position: absolute;

        width: 100%;
        height: 3px;    
        left: 0;

        background-color: #fff;
        border-radius: 3px;

        transition: all .2s ease;
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }

    &.active{
        .burger_element{
            opacity: 0;
            transform: translateX(100%);
        }

        &::before{
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
        }
        
        &::after{
            bottom: 50%;
            transform: rotate(-45deg) translateY(50%);
        }
    }

}

.burger_element{
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    border-radius: 3px;

    transition: all .2s ease;
}

.popup{
    position: absolute;
    
    top: 0;
    right: -100%;
    z-index: 100;

    opacity: 0;
    
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(0, 0, 0, 0.9);
    
    transition: all .5s ease;
    
    &.open{
        opacity: 1;
        right: 0;

        .header__nav{
            z-index: inherit;
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            padding-top: 100px;
    
            width: 100vw;
            height: 100vh;

            .nav_element{
                font-size: 25px;
                color: #fff;

                padding: 20px 40px;
            }

            .dropdown{
                .dropdown_inner{
                    left: 100%;
                    top: -90%;
                }
            }

            .arrow{
                &::before,
                &::after{
                    background-color: #fff;
                }
            }
        }
    }

>>>>>>> 4220f7276909586968ae3cf2d2d6737117a9e765
}