@media (max-width: 1230px){
    .newTools{
        display: block;

        .description{
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
    }

    .newCompanies_cards{
        width: 100%;
    }
}

@media (max-width: 991px){
    .header__nav .nav_element{
            margin-right: 5px;
    }

    .card_image{
        scale: .8;
    }

    .card_title{
        font-size: 18px;
        line-height: 24px;
    }

    .card_subtitle{
        font-size: 16px;
    }

    .card_text{
        font-size: 14px;
    }

    .footer__inner{
        display: block;
    }

    .first_footer{
        margin: 0;
        margin: 50px auto;

        max-width: 400px;
        align-items: center;
        text-align: center;
    }

    .slider .slider_controll{
        display: none !important;
    }

    .slider .slider__wrapper{
        margin: 0;
    }

    .slider .slider_item{
        width: 100%;
    }
}

@media (max-width: 870px){
    .header__nav{
        display: none;
    }   

    .btns{
        display: none;
        padding-right: 150px;
    }

    .burger{
        right: 10px;
        display: flex;
    }

    .find_tools{
        .title{
            font-size: 40px;
            line-height: 50px;
        }

        .subtitle{
            font-size: 16px;
        }

        .search_panel{
            width: 375px;
            margin-top: 30px;
        }

        .socials{
            margin-top: 30px;

            .item img{
                scale: .8;
            }
        }
    }

    .title_box {
        .title{
            font-size: 40px;
        }

        .subtitle{
            max-width: none;
        }
    }

    .tools .card{
        width: 45%;
        margin: 0;
        margin-top: 20px;
    }

    .slider_item{
        flex-wrap: wrap;

        .picture{
            width: 100%;

            &::after{
                left: 50px;
            }
        }

        .slider_text{
            max-width: none;
            width: 100%;
            padding-top: 50px;
        }
    }
}

@media (max-width: 768px){
    .intro{
        flex-direction: column-reverse;
        margin-bottom: 150px;
        
        .find_tools{
            margin-top: 100px;
            width: 100%;
        }
        
        .illustration{
            margin-top: -50px;
            left: 70px;
            width: 100%;
        }
        
        .socials{
            transition: transform 1s ease;
        }
    }
    
    .btns{
        padding-right: 50px;
    }
}

@media (max-width: 670px){
    .newCompanies_cards .card,.tools .card{
        width: 80%;
        margin: 0;
        margin: 0 auto;
        margin-top: 30px;
    }

    .tools__inner{
        margin-top: 30px;
    }

    .title_box{
        .title{
            font-size: 35px;
        }

        .subtitle{
            font-size: 16px;
        }
    }

    .companies .card{
        padding: 50px 60px;

        .logos{
            margin-top: 30px;
        }
    }

    .contributor{
        .title{
            font-size: 35px;
        }
    }

    .last_footer{
        display: block;

        .item{
            width: fit-content;
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
        }
    }

    .footer__inner{
        height: 800px;
    }

    .layer{
        padding-bottom: 400px;
    }

    .slider_item{
        .picture{
            &::after{
                left: 0;
            }
        }
    }
}

@media (max-width: 545px){
    .btns{
        display: none;
    }

    .intro{
        margin-bottom: 100px;
    }
    
    .find_tools{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        .title{
            margin: 0 auto;
            font-size: 30px;
            line-height: 50px;
        }
        
        .subtitle{
            margin: 0 auto;
            margin-top: 30px;
            font-size: 16px;
        }
        
        .search_panel{
            margin: 0 auto;
            width: auto;
            max-width: 375px;
            margin-top: 30px;
            
            .input::placeholder{
                opacity: 0;
            }
        }
        
        .socials{
            margin: 0 auto;
            margin-top: 50px;
            
            .item img{
                scale: .8;
            }
        }
    }

    .companies .card{
        padding: 50px 60px;

        .title{
            text-align: center;
            font-size: 20px;
        }
        
        .logos{
            margin-top: 0;

            .logo{
                margin-right: 7px;
                margin-top: 60px;
            }
        } 
    }

    .newTools{
        margin-bottom: 150px;
        .title{
            font-size: 40px;
        }
    }

    .contributor{
        .title{
            font-size: 20px;
        }

        .subtitle{
            font-size: 15px;
        }
    }

    .slider{
        display: none;
    }

    .user{
        display: none;
    }
}

@media (max-width: 400px){
    .illustration{
        display: none;
    }

    .layer.fixed{
        padding-top: 80px;
    }

    .header{
        margin-bottom: 0;
    }

    .intro .find_tools{
        margin-top: 30px;
    }

    .newCompanies_cards .card, .tools .card{
        width: 100%;
    }

    .title_box{
        .title{
            font-size: 30px;
        }

        .subtitle{
            font-size: 14px;
        }
    }

    .companies .card{
        padding: 50px 60px;

        .title{
            text-align: center;
            font-size: 20px;
        }
        
        .logos .logo{
            margin: 0;
            margin-top: 60px;
        }
    }

    .newTools{
        .description{
            min-height: 250px;
        }

        .title{
            font-size: 30px;
        }

        .text{
            font-size: 15px;
        }
    }
}