@import "null";

$layer_backgroung: #1E252B;

$container_width: 1230px;
$container_padding: 30px;

$layer_backgroung: #1E252B;
$white_gray: rgba(255, 255, 255, .55);

$footer_height: 350px;

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;

    -webkit-font-smoothing: antialiased;

    color: #fff;

    &.fixed{
        overflow: hidden;
    }
}

.container{
    max-width: $container_width;
    padding: 0 $container_padding;

    width: 100%;
    margin: 0 auto;

    &.animated{
        opacity: 0;
        transition: all 2s ease;
    }

    &._active{
        opacity: 1;
    }
}

.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    
    border-radius: .5em;
    padding: .75em 1.5em;

    user-select: none;
    cursor: pointer;

    transition: all .2s ease;

    color: #fff;
    background-color: transparent;

    &:hover{
        color: #fff;
        box-shadow: 0 0 0 2px #fff;
    }

    &.active{
        color: #fff;
        background-color: #FF6E30;
        
        &:hover{
            background-color: #d9612d;
            box-shadow: none;
        }
    }

    &:active{
        opacity: .8;
    }
}


.btn--reversive{
    margin: 0 auto;

    box-shadow: 0 0 0 2px $white_gray;

    color: #FF6E30 !important;
    font-size: 20px;
    line-height: 30px;

    &:hover{
        background-color: rgba(0, 0, 0, .2);
    }
}

.layer{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;

    overflow: hidden;

    background-color: $layer_backgroung;

    &.fixed{
        padding-top: 180px;
        .header{
            position: fixed;
        }
    }
}

.user{
    user-select: none;
    font-size: 20px;
    color: rgb(255, 135, 22);
}

._active{
    transform: translate(0, 0) !important;
}

@import "header";
@import "main/main";
@import "footer";

@import "media";