@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  z-index: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
body.fixed {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}
.container.animated {
  opacity: 0;
  transition: all 2s ease;
}
.container._active {
  opacity: 1;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  border-radius: 0.5em;
  padding: 0.75em 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #fff;
  background-color: transparent;
}
.btn:hover {
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
}
.btn.active {
  color: #fff;
  background-color: #FF6E30;
}
.btn.active:hover {
  background-color: #d9612d;
  box-shadow: none;
}
.btn:active {
  opacity: 0.8;
}

.btn--reversive {
  margin: 0 auto;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.55);
  color: #FF6E30 !important;
  font-size: 20px;
  line-height: 30px;
}
.btn--reversive:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.layer {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #1E252B;
}
.layer.fixed {
  padding-top: 180px;
}
.layer.fixed .header {
  position: fixed;
}

._active {
  transform: translate(0, 0) !important;
}

.arrow {
  position: relative;
  z-index: 10000;
  width: 20px;
  height: 20px;
}
.arrow::after, .arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  right: 15%;
  width: 13px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(144, 144, 144);
  position: absolute;
  z-index: inherit;
  transition: all 0.3s ease;
}
.arrow::after {
  transform: rotate(45deg) translateX(-40%);
}
.arrow::before {
  transform: rotate(-45deg) translateX(40%);
}
.arrow:hover::after, .arrow:hover::before, .arrow.active::after, .arrow.active::before {
  top: 30%;
}
.arrow:hover::before, .arrow.active::before {
  transform: rotate(45deg) translateX(40%);
}
.arrow:hover::after, .arrow.active::after {
  transform: rotate(-45deg) translateX(-40%);
}

.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.dropdown:hover .dropdown_inner {
  transform: scale(1);
}
.dropdown:hover .arrow::after, .dropdown:hover .arrow::before {
  top: 30%;
  background-color: #fff;
}
.dropdown:hover .arrow::before {
  transform: rotate(45deg) translateX(40%);
}
.dropdown:hover .arrow::after {
  transform: rotate(-45deg) translateX(-40%);
}
.dropdown .arrow {
  margin-left: 10px;
}

.dropdown_inner {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.dropdown_content {
  margin-top: 40px;
  padding: 0 10px;
  border-radius: 8px;
}

.dropdown_element {
  display: block;
  background-color: #143142;
  color: rgba(255, 255, 255, 0.55);
  border-radius: inherit;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  transition: all 0.2s ease;
}
.dropdown_element:hover {
  color: inherit;
  background-color: #33393d;
}
.dropdown_element:active {
  background-color: #2d3235;
}

.header {
  position: relative;
  padding: 25px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: inherit;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
}

.logo_text {
  margin-left: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .nav_element {
  position: relative;
  background-color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  margin-right: 40px;
  border-radius: 8px;
  transition: all 0.2s ease;
  padding: 5px 15px;
}
.header__nav .nav_element:last-child {
  margin-right: 0;
}
.header__nav .nav_element:hover {
  color: #fff;
  box-shadow: 0 0 0 1.5px #fff;
}

.burger {
  display: none;
  position: relative;
  width: 35px;
  height: 25px;
  align-items: center;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active .burger_element {
  opacity: 0;
  transform: translateX(100%);
}
.burger.active::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}

.burger_element {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.popup {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 100;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}
.popup.open {
  opacity: 1;
  right: 0;
}
.popup.open .header__nav {
  z-index: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 200px;
  width: 100vw;
  height: 100vh;
}
.popup.open .header__nav .nav_element {
  font-size: 25px;
  color: #fff;
  padding: 20px 40px;
}
.popup.open .header__nav .dropdown:hover {
  margin-bottom: 100px;
}
.popup.open .header__nav .dropdown .dropdown_inner {
  left: 0;
  top: 50%;
}
.popup.open .header__nav .dropdown .dropdown_inner .dropdown_element {
  color: rgb(220, 220, 220);
  background-color: rgb(34, 34, 34);
}
.popup.open .header__nav .arrow::before, .popup.open .header__nav .arrow::after {
  background-color: #fff;
}

.illustration {
  width: 50%;
  height: 640px;
  overflow: hidden;
  position: relative;
  margin-top: -80px;
}
.illustration .animated {
  position: absolute;
}
.illustration .sub-table {
  z-index: 16;
  left: 5px;
  bottom: -50px;
  scale: 0;
  transform: rotate(180deg);
  transition: all 0.4s ease 1.5s;
}
.illustration .line-orange {
  z-index: 15;
  left: -10px;
  bottom: 280px;
  transform: translate(-100%, -100%);
  transition: all 0.5s ease 1.2s;
}
.illustration .table-big {
  z-index: 14;
  bottom: -275px;
  left: 50px;
  transform: translate(100%, 100%);
  transition: all 1.5s ease-in-out;
}
.illustration .bracket-open {
  z-index: 13;
  left: 130px;
  bottom: 275px;
  transform: translateY(-550px);
  transition: transform 1.5s cubic-bezier(0.68, 0.86, 0.76, 1.37) 2s;
}
.illustration .bracket-close {
  z-index: 12;
  left: 230px;
  bottom: 250px;
  transform: translateY(-550px);
  transition: transform 1.5s cubic-bezier(0.68, 0.86, 0.76, 1.37) 2.7s;
}
.illustration .line-blue {
  z-index: 11;
  left: 310px;
  bottom: 450px;
  scale: 0;
  transition: all 0.4s cubic-bezier(0.68, 0.86, 0.76, 1.57) 1.7s;
}
.illustration .table-small {
  z-index: 10;
  left: 340px;
  bottom: 100px;
  scale: 0;
  transform: translate(300px, 0);
  transition: all 1.5s ease-in-out 1s;
}
.illustration ._active {
  scale: 1;
  opacity: 1;
  transform: translate(0, 0);
  transform: rotate(0);
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.orange {
  color: #FF6E30;
}

.find_tools {
  position: relative;
  width: 50%;
  transform: translateX(-200%);
  transition: all 1s ease;
}
.find_tools .title {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 30px;
}
.find_tools .subtitle {
  max-width: 80%;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.search_panel {
  max-width: 500px;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #283036;
  border-radius: 15px;
  border: solid 2px rgba(255, 255, 255, 0.1);
  padding: 10px 10px 10px 20px;
  margin-top: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.search_panel .ico {
  margin-right: 15px;
  width: 30px;
  opacity: 0.38;
}
.search_panel .input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.search_panel .input::-moz-placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}
.search_panel .input:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}
.search_panel .input::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}

.socials {
  margin-top: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  transform: translateX(-200%);
  transition: all 1s ease 4s;
}
.socials._active {
  opacity: 1;
}
.socials .item {
  margin-right: 40px;
  transition: filter 0.1s ease;
}
.socials .item:hover {
  filter: invert(47%) sepia(100%) saturate(1400%) hue-rotate(339deg) brightness(102%) contrast(101%);
}
.socials .item:last-child {
  margin: 0;
}

.title_box {
  position: relative;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease;
}
.title_box .title {
  display: block;
  margin: 0 auto;
  line-height: 62px;
  font-weight: 500;
  font-size: 48px;
}
.title_box .subtitle {
  max-width: 33%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}
.title_box._active {
  opacity: 1;
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 2px;
  margin-bottom: 200px;
}

.tools__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 95px;
  margin-bottom: 60px;
}

.card {
  width: 33%;
  height: 300px;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 30px;
  margin: 0 -30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
}
.card:nth-child(3n+1) {
  transition: scale 0.5s ease, transform 0.3s ease;
  scale: 0;
}
.card:nth-child(3n+2) {
  transition: scale 0.5s ease 0.5s, transform 0.3s ease;
  scale: 0;
}
.card:nth-child(3n+3) {
  transition: scale 0.5s ease 1s, transform 0.3s ease;
  scale: 0;
}
.card._active {
  scale: 1;
}
.card::before {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 25%;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.card .card__header {
  display: flex;
  width: 100%;
}
.card .card_title {
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.card .card_subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.card .card_image {
  margin-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card .card_text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.55);
}
.card .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .action_container {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 7px;
  margin-right: 5px;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.card .action_container:hover {
  transform: scale(1.2);
}
.card .action_container.active {
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgb(1, 1, 1);
  border-radius: 8px;
  opacity: 1;
}
.card .action_container.active .action.active_like {
  filter: brightness(0) saturate(100%) invert(13%) sepia(82%) saturate(6619%) hue-rotate(359deg) brightness(250%) contrast(120%);
}
.card .action_container.active .action.active_save {
  filter: brightness(0) saturate(100%) invert(8%) sepia(99%) saturate(7476%) hue-rotate(248deg) brightness(230%) contrast(143%);
}
.card.active {
  transform: translateY(-20px) !important;
  background-color: rgba(40, 48, 54, 0.6);
  border-color: rgba(255, 255, 255, 0.1);
}
.card.active::before {
  box-shadow: 5px -250px 100px -15px #FF6E30;
}
.card.active .card_subtitle {
  color: #FFA537;
}
.card.active .card_text {
  color: rgba(255, 255, 255, 0.78);
}
.card.active .action_container {
  opacity: 1;
}
.card .btn {
  padding: 9px 30px;
}

.companies {
  margin-bottom: 200px;
  position: relative;
  perspective: 1000px;
}
.companies .card {
  width: 100%;
  min-height: 300px;
  height: auto;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  border-radius: 25px;
  background-color: rgba(44, 53, 61, 0.3);
  scale: 1;
  padding: 50px 80px;
}
.companies .card::before {
  left: -18%;
  box-shadow: 5px -250px 100px -15px #ff4c30;
}
.companies .card .title {
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}
.companies .card .logos {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.companies .card .logo {
  opacity: 0.2;
  margin-top: 40px;
  margin-right: 30px;
  transition: all 0.15s ease;
}
.companies .card .logo:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(43%) saturate(1765%) hue-rotate(9deg) brightness(90%) contrast(107%);
  opacity: 1;
}

.newTools {
  width: 100%;
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}
.newTools .description {
  max-width: 430px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newTools .title {
  font-size: 48px;
  line-height: 62px;
  color: rgba(255, 255, 255, 0.9);
}
.newTools .text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}
.newTools .btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.newTools .card_image {
  width: 64px;
  height: 64px;
}
.newTools .card {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s ease, transform 0.3s ease;
}
.newTools .card._active {
  transform: translateY(0);
  opacity: 1;
}

.newCompanies_cards {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newCompanies_cards .card {
  width: 48%;
  margin: 0;
  margin-bottom: 30px;
}

.contributor {
  position: relative;
  max-width: 555px;
  max-height: 300px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 240px;
  text-align: center;
}
.contributor .search_panel {
  max-width: none;
  width: 100%;
  margin: 0;
  scale: 2;
}
.contributor .title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 25px;
}
.contributor .subtitle {
  max-width: 80%;
  line-height: 30px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
  margin: 0 auto;
  margin-bottom: 100px;
}
.contributor._active .search_panel {
  transition: scale 1s cubic-bezier(1, 2, 0.3, -0.42);
  scale: 1;
}

.slider {
  position: relative;
  width: 100%;
  margin-bottom: 250px;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 1s ease;
}
.slider._active {
  opacity: 1;
}

.slider__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 850px;
  z-index: 1000;
}

.slider_track {
  display: flex;
  width: 100%;
  padding: 0 30px;
  transition: transform 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider_track__container {
  overflow: hidden;
  width: 100%;
}

.slider__indicators {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider_controll {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.slider_controll::before, .slider_controll::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(144, 144, 144);
  position: absolute;
  z-index: inherit;
}
.slider_controll::before {
  transform: rotate(-45deg) translate(45%, 0);
}
.slider_controll::after {
  transform: rotate(45deg) translate(45%, 0);
}
.slider_controll.next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
.slider_controll:active::before, .slider_controll:active::after {
  background-color: #FF6E30;
}

.slider_indicator {
  display: block;
  margin-right: 20px;
  cursor: pointer;
  width: 44px;
  height: 8px;
  border-radius: 4px;
  background-color: #283036;
  transition: all 0.2s ease;
}
.slider_indicator:last-child {
  margin: 0;
}
.slider_indicator.active {
  height: 9px;
  background-color: #FF6E30;
}

.slider_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  margin-left: 30px;
  min-width: 100%;
  scale: 0.5;
  transition: all 1.5s ease;
}
.slider_item.active {
  scale: 1;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.picture::before {
  content: "";
  position: absolute;
  display: block;
  left: 30px;
  top: 160px;
  z-index: 3;
  width: 43px;
  height: 43px;
  background: rgba(178, 69, 241, 0.7647058824);
  filter: blur(30px);
}
.picture::after {
  content: "";
  position: absolute;
  left: -9px;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  z-index: 2;
  background: radial-gradient(rgb(40, 48, 54), rgb(40, 48, 54) 40%, rgba(40, 48, 54, 0.6) 40%, rgba(40, 48, 54, 0.6) 56%, rgba(40, 48, 54, 0.3) 56%, rgb(40, 48, 54) 100%);
}
.picture .image {
  max-width: 400px;
  max-height: 500px;
  z-index: 5;
}
.picture .circle {
  position: absolute;
  right: 10%;
  bottom: 20%;
  z-index: 4;
  width: 65px;
  height: 65px;
  background: rgba(255, 110, 48, 0.4);
  filter: blur(40px);
}

.slider_card {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  bottom: 30px;
  right: 5px;
  min-width: 265px;
  height: 90px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  padding: 10px 20px;
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.slider_card .title {
  font-size: 26px;
  line-height: 39px;
  color: rgba(255, 253, 253, 0.78);
}
.slider_card .subtitle {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 253, 253, 0.55);
}
.slider_card::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 35px;
  height: 35px;
  background: #007ACC;
  filter: blur(24px);
}

.slider_text {
  position: relative;
  z-index: 2;
  max-width: 400px;
  padding-top: 110px;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.78);
}
.slider_text::before {
  content: "“";
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  left: -80px;
  top: 70px;
  height: 180px;
  z-index: -1;
  font-size: 250px;
  font-weight: 500;
  font-family: "Lora", serif;
  background-image: linear-gradient(to bottom, #1e272e, rgb(86, 86, 86));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: rotate(30deg);
}

.main {
  width: 100%;
  padding-bottom: 350px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 350px;
}
.footer__inner .title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer__inner .text {
  font-style: normal;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}
.footer__inner .text p {
  margin-bottom: 10px;
}

.footer_logo {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 25px;
}

.first_footer {
  width: 100%;
  max-width: 260px;
  height: 185px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.last_footer {
  min-height: 185px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1230px) {
  .newTools {
    display: block;
  }
  .newTools .description {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .newCompanies_cards {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header__nav .nav_element {
    margin-right: 5px;
  }
  .card_image {
    scale: 0.8;
  }
  .card_title {
    font-size: 18px;
    line-height: 24px;
  }
  .card_subtitle {
    font-size: 16px;
  }
  .card_text {
    font-size: 14px;
  }
  .footer__inner {
    display: block;
  }
  .first_footer {
    margin: 0;
    margin: 50px auto;
    max-width: 400px;
    align-items: center;
    text-align: center;
  }
  .slider .slider_controll {
    display: none !important;
  }
  .slider .slider__wrapper {
    margin: 0;
  }
  .slider .slider_item {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .header__nav {
    display: none;
  }
  .btns {
    padding-right: 150px;
  }
  .burger {
    right: 10px;
    display: flex;
  }
  .find_tools .title {
    font-size: 40px;
    line-height: 50px;
  }
  .find_tools .subtitle {
    font-size: 16px;
  }
  .find_tools .search_panel {
    width: 375px;
    margin-top: 30px;
  }
  .find_tools .socials {
    margin-top: 30px;
  }
  .find_tools .socials .item img {
    scale: 0.8;
  }
  .title_box .title {
    font-size: 40px;
  }
  .title_box .subtitle {
    max-width: none;
  }
  .tools .card {
    width: 45%;
    margin: 0;
    margin-top: 20px;
  }
  .slider_item {
    flex-wrap: wrap;
  }
  .slider_item .picture {
    width: 100%;
  }
  .slider_item .picture::after {
    left: 50px;
  }
  .slider_item .slider_text {
    max-width: none;
    width: 100%;
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    margin-bottom: 150px;
  }
  .intro .find_tools {
    margin-top: 100px;
    width: 100%;
  }
  .intro .illustration {
    margin-top: -50px;
    left: 70px;
    width: 100%;
  }
  .intro .socials {
    transition: transform 1s ease;
  }
  .btns {
    padding-right: 50px;
  }
}
@media (max-width: 670px) {
  .newCompanies_cards .card, .tools .card {
    width: 80%;
    margin: 0;
    margin: 0 auto;
    margin-top: 30px;
  }
  .tools__inner {
    margin-top: 30px;
  }
  .title_box .title {
    font-size: 35px;
  }
  .title_box .subtitle {
    font-size: 16px;
  }
  .companies .card {
    padding: 50px 60px;
  }
  .companies .card .logos {
    margin-top: 30px;
  }
  .contributor .title {
    font-size: 35px;
  }
  .last_footer {
    display: block;
  }
  .last_footer .item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .footer__inner {
    height: 800px;
  }
  .layer {
    padding-bottom: 400px;
  }
  .slider_item .picture::after {
    left: 0;
  }
}
@media (max-width: 545px) {
  .btns {
    display: none;
  }
  .intro {
    margin-bottom: 100px;
  }
  .find_tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .find_tools .title {
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
  }
  .find_tools .subtitle {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
  }
  .find_tools .search_panel {
    margin: 0 auto;
    width: auto;
    max-width: 375px;
    margin-top: 30px;
  }
  .find_tools .search_panel .input::-moz-placeholder {
    opacity: 0;
  }
  .find_tools .search_panel .input:-ms-input-placeholder {
    opacity: 0;
  }
  .find_tools .search_panel .input::placeholder {
    opacity: 0;
  }
  .find_tools .socials {
    margin: 0 auto;
    margin-top: 50px;
  }
  .find_tools .socials .item img {
    scale: 0.8;
  }
  .companies .card {
    padding: 50px 60px;
  }
  .companies .card .title {
    text-align: center;
    font-size: 20px;
  }
  .companies .card .logos {
    margin-top: 0;
  }
  .companies .card .logos .logo {
    margin-right: 7px;
    margin-top: 60px;
  }
  .newTools {
    margin-bottom: 150px;
  }
  .newTools .title {
    font-size: 40px;
  }
  .contributor .title {
    font-size: 20px;
  }
  .contributor .subtitle {
    font-size: 15px;
  }
  .slider {
    display: none;
  }
}
@media (max-width: 400px) {
  .illustration {
    display: none;
  }
  .layer.fixed {
    padding-top: 80px;
  }
  .header {
    margin-bottom: 0;
  }
  .intro .find_tools {
    margin-top: 30px;
  }
  .newCompanies_cards .card, .tools .card {
    width: 100%;
  }
  .title_box .title {
    font-size: 30px;
  }
  .title_box .subtitle {
    font-size: 14px;
  }
  .companies .card {
    padding: 50px 60px;
  }
  .companies .card .title {
    text-align: center;
    font-size: 20px;
  }
  .companies .card .logos .logo {
    margin: 0;
    margin-top: 60px;
  }
  .newTools .description {
    min-height: 250px;
  }
  .newTools .title {
    font-size: 30px;
  }
  .newTools .text {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */