.companies{
    margin-bottom: 200px;
    position: relative;
    perspective: 1000px;

    .card{
        width: 100%;
        min-height: 300px;
        height: auto;
        margin: 0;
        padding: 0;

        justify-content: space-around;
        border-radius: 25px;
        background-color: rgba(44, 53, 61, 0.3);

        scale: 1;
        padding: 50px 80px;
        
        &::before{
            left: -18%;
            box-shadow: 5px -250px 100px -15px #ff4c30;
        }
        
        .title{
            font-size: 24px;
            line-height: 36px;
            color: rgba(255, 255, 255, 0.8);
            
            margin: 0 auto;
        }
        
        .logos{
            margin: 0 auto;
            max-width: 1080px;
            width: 100%;
            
            user-select: none;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .logo{
            opacity: .2;
            margin-top: 40px;
            margin-right: 30px;
            
            transition: all .15s ease;

            &:hover{
                filter: brightness(0) saturate(100%) invert(55%) sepia(43%) saturate(1765%) hue-rotate(9deg) brightness(90%) contrast(107%);
                opacity: 1;
            }
        }
    }
}