.contributor{
    position: relative;

    max-width: 555px;
    max-height: 300px;
    height: 100%;

    margin: 0 auto;
    margin-bottom: 240px;

    text-align: center;

    .search_panel{
        max-width: none;
        width: 100%;
        margin: 0;

        scale: 2;
    }

    .title{
        color: rgba(255, 255, 255, 0.9);
        font-size: 48px;
        line-height: 62px;

        margin-bottom: 25px;
    }
    
    .subtitle{
        max-width: 80%;
        line-height: 30px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.55);
        
        margin: 0 auto;
        margin-bottom: 100px;
    }

    &._active{
        .search_panel{
            transition: scale 1s cubic-bezier(1,2,.3,-0.42);
            scale: 1;
        }
    }
}