@import "illustration";

.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 200px;
}

.orange {
    color: #FF6E30;
}

.find_tools {
    position: relative;
    width: 50%;

    transform: translateX(-200%);
    transition: all 1s ease;

    .title {
        font-size: 50px;
        line-height: 70px;
        font-weight: 500;

        margin-bottom: 30px;
    }
    
    .subtitle {
        max-width: 80%;
        width: 100%;
        
        font-size: 18px;
        line-height: 30px;
        color: rgba(255, 255, 255, .55);
    }
}

.search_panel{
    max-width: 500px;
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    position: relative;

    background-color: #283036;
    border-radius: 15px;
    border: solid 2px rgba(255, 255, 255, 0.1);
    
    padding: 10px 10px 10px 20px;
    margin-top: 60px;

    user-select: none;

    .ico{
        margin-right: 15px;
        width: 30px;
        opacity: .38;
    }

    .input{
        width: 100%;
        height: 100%;

        background: transparent;
        color: #fff;
        user-select: none;

        &::placeholder{
            font-size: 14px;
            color: rgba(255, 255, 255, .38);
        }
    }
}

.socials{
    margin-top: 50px;

    width: fit-content;
    align-items: center;
    display: flex;

    user-select: none;

    opacity: 0;
    transform: translateX(-200%);
    transition: all 1s ease 4s;

    &._active{
        opacity: 1;
    }
    
    .item{
        margin-right: 40px;
        
        transition: filter .1s ease;
        
        &:hover{
            filter: invert(47%) sepia(100%) saturate(1400%) hue-rotate(339deg) brightness(102%) contrast(101%);
        }

        &:last-child{
            margin: 0;
        }
    }
}