.slider{
    position: relative;
    width: 100%;

    margin-bottom: 250px;

    transform: translateX(-150%);
    opacity: 0;
    transition: all 1s ease;
    
    &._active{
        opacity: 1;
    }
}

.slider__wrapper{
    position: relative;
    
    margin: 0 auto;
    max-width: 850px;
    z-index: 1000;
}

.slider_track{
    display: flex;

    width: 100%;
    padding: 0 30px;

    transition: transform 1s ease;

    user-select: none;
}

.slider_track__container{
    overflow: hidden;

    width: 100%;
}

.slider__indicators{
    display: flex;
    align-items: center;
    position: relative;

    
    margin: 0 auto;
    
    height: 100px;
    width: fit-content;
}

.slider_controll{
    position: absolute;

    cursor: pointer;

    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute;
        
        top: 50%;
        transform: translate(-100%, -50%);
        
        width: 20px;
        height: 3px;
        border-radius: 3px;
        
        background-color: rgb(144, 144, 144);
        
        position: absolute;
        z-index: inherit;
    }

    &::before{
        transform: rotate(-45deg) translate(45%, 0);
    } 
    
    &::after{
        transform: rotate(45deg) translate(45%, 0);
    }

    &.next{
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }

    &:active{
        &::before,
        &::after{
            background-color: #FF6E30;
        }
    }
}

.slider_indicator{
    display: block;
    margin-right: 20px;

    cursor: pointer;

    width: 44px;
    height: 8px;

    border-radius: 4px;
    background-color: #283036;

    transition: all .2s ease;

    &:last-child{
        margin: 0;
    }

    &.active{
        height: 9px;
        background-color: #FF6E30;
    }
}

.slider_item{
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-left: 30px;
    margin-left: 30px;
    min-width: 100%;

    scale: .5;

    transition: all 1.5s ease;

    &.active{
        scale: 1;
    }
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    position: relative;

    &::before{
        content: "";
        position: absolute;
        display: block;

        left: 30px;
        top: 160px;
        z-index: 3;

        width: 43px;
        height: 43px;

        background: #b245f1c3;
        filter: blur(30px);
    }

    &::after{
        content: "";

        position: absolute;

        left: -9px;

        width: 370px;
        height: 370px;

        border-radius: 50%;

        z-index: 2;

        background: radial-gradient( rgb(40, 48, 54), rgb(40, 48, 54) 40%, rgba(40, 48, 54, .6)  40%, rgba(40, 48, 54, .6) 56%, rgb(40, 48, 54, 0.3) 56%, rgb(40, 48, 54) 100%);
    }

    .image{
        max-width: 400px;
        max-height: 500px;
        z-index: 5;
    }

    .circle{
        position: absolute;

        right: 10%;
        bottom: 20%;
        z-index: 4;

        width: 65px;
        height: 65px;

        background: rgba(255, 110, 48, 0.4);
        filter: blur(40px);
    }
}

.slider_card{
    position: absolute;
    z-index: 100;
    overflow: hidden;

    bottom: 30px;
    right: 5px;

    min-width: 265px;
    height: 90px;

    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.06);

    padding: 10px 20px;

    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(15px);

    .title{
        font-size: 26px;
        line-height: 39px;
        color: rgba(255, 253, 253, 0.78);
    }

    .subtitle{
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 253, 253, 0.55);
    }

    &::after{
        content: '';
        position: absolute;

        right: -20px;
        bottom: -20px;

        width: 35px;
        height: 35px;

        background: #007ACC;
        filter: blur(24px);
    }
}

.slider_text{
    position: relative;

    z-index: 2;

    max-width: 400px;
    padding-top: 110px;

    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.78);

    &::before{
        content: "“";
        display: flex;
        text-align: center;
        align-items: center;

        position: absolute;
        left: -80px;
        top: 70px;

        height: 180px;

        z-index: -1;
        font-size: 250px;
        font-weight: 500;
        font-family: 'Lora', serif;

        background-image: linear-gradient(to bottom , #1e272e , rgb(86, 86, 86));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        transform: rotate(30deg);
    }
}