.title_box{
    position: relative;
    text-align: center;

    .title{    
        display: block;
        
        margin: 0 auto;
        line-height: 62px;
        font-weight: 500;
        font-size: 48px; 
    }

    .subtitle{
        max-width: 33%;
        margin: 0 auto;
        margin-top: 25px;

        font-size: 18px;
        line-height: 30px;
    
        color: $white_gray;
    }

    opacity: 0;
    transform: translateY(-100%);

    transition: all 1s ease;

    &._active{
        opacity: 1;
    }
}

.tools{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    
    padding-bottom: 2px;

    margin-bottom: 200px;
}

.tools__inner{
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    margin-top: 95px;
    margin-bottom: 60px;
}

.card{
    width: 33%;
    height: 300px;

    border-radius: 15px;
    border: 1px solid transparent;

    padding: 30px;
    margin: 0 -30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    transition: all .2s ease;

    &:nth-child(3n+1){
        transition: scale .5s ease, transform .3s ease;
        scale: 0;
    }
    
    &:nth-child(3n+2){
        transition: scale .5s ease, transform .3s ease;
        scale: 0;
    }
    
    &:nth-child(3n+3){
        transition: scale .5s ease, transform .3s ease;
        scale: 0;
    }
    
    &._active{
        scale: 1;
    }

    &::before{
        content: "";
        position: absolute;
        display: block;
        width: 25%;
        height: 25%;

        bottom: 0;
        right: 0;

        z-index: -1;
    }

    .card__header{
        display: flex;
        width: 100%;
    }

    .card_title{
        width: 100%;
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, .78);
    }
    
    .card_subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: rgba(255, 165, 55, .55);
    }

    .card_image{
        margin-right: 30px;

        user-select: none;
    }

    .card_text{
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;

        color: $white_gray;
    }

    .card__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .action_container{
        position: relative;
        display: inline-block;

        user-select: none;
        cursor: pointer;
        
        padding: 7px;
        margin-right: 5px;
        opacity: .7;

        transition: all .3s ease;


        &:hover{
            transform: scale(1.2);
        }

        &.active{
            background-color: #283036;
            box-shadow: 0px 5px 10px -3px rgb(1, 1, 1);
            border-radius: 8px;

            opacity: 1;

            .action{
                &.active_like{
                    filter: brightness(0) saturate(100%) invert(13%) sepia(82%) saturate(6619%) hue-rotate(359deg) brightness(250%) contrast(120%);
                }
        
                &.active_save{
                    filter: brightness(0) saturate(100%) invert(8%) sepia(99%) saturate(7476%) hue-rotate(248deg) brightness(230%) contrast(143%);
                }

            }
        }
    }

    &.active{
        transform: translateY(-20px) !important;
    
        background-color: rgba(40, 48, 54, .6);
    
        border-color: rgba(255, 255, 255, .1);
    
        &::before{
            box-shadow: 5px -250px 100px -15px #FF6E30;
        }

        .card_subtitle{
            color: #FFA537;
        }

        .card_text{
            color: rgba(255, 255, 255, 0.78) ;
        }

        .action_container{
            opacity: 1;
        }
    }
    
    .btn{
        padding: 9px 30px;
    }
}